<ol>
<h2>
    
    {{#each myCelebrities}}
    <li>
    <a href="/celebrities/{{id}}">{{name}}</a>
    </li>
    <form action="/celebrities/{{id}}/delete" method="POST"> {{!-- <-- add the form  --}}
      <button>Delete</button>
    </form>
    {{/each}}
    
</h2>
</ol>
<a href="/celebrities/new">Add your actors</a>