<h2>Add Your favorite actors</h2>
<form action="/celebrities/new" method="POST">
   
    <label for=""> 
        Name:
    <input type="text" name="name">
    </label>
    <br>
    <label for="">
        Occupation:
        <textarea name="occupation" id="" cols="20" rows="5">

        </textarea>
    </label>
<br>
    <label for="">
        CatchPhrase:
        <textarea name="catchPhrase" id="" cols="20" rows="5">

        </textarea>
    </label>
    <br>
<button>Create</button>
</form>
